@model Converter.Web.Models.HomeModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>

    <table class="table">
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.LinkName, item.ActionName, item.ControllerName)
                </td>
                <td></td>
            </tr>
        }
    </table>
</div>

<hr />

<div>
    <p>
        Developed by Jonas Olsson
    </p>
    <p>
        <a href="https://github.com/deadguy500/DotNet.Converter">Github</a>
    </p>
    <p>
        You are free to do whatever you like with this code, but keep in mind that I do not take any responsibility what happens when you use it.
    </p>
</div>
